@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@300;700;900&display=swap');
:root {
	--font-Pacifico: 'Pacifico', cursive;
	--font-Raleway: 'Raleway', sans-serif;
	--color-black: #262626;
	--color-white: #fff;

}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}


/* Main Styles */

.container {	
	max-width: 1200px;
	min-width: 300px;
	margin: 0 auto;
	width: 100%;
}

.fresh-life {
	background: url('../images/background.jpg')no-repeat fixed center;
	background-size: cover;
    height: 100vh;
}

.fhesh-life__header {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	align-items: center;
	margin-bottom: 210px;
}

.fresh-life__main{
	margin-bottom: 290px;
}
.logo {
	font: 400 50px var(--font-Pacifico);
	transition: all .3s;

}

.logo__link {
	text-decoration: none;
	color: var(--color-black);
	position: relative;
}

/* start logo animation */

.logo__link::before {
	position: absolute;
	content: attr(data-content);
	top: 0;
	left: 0;
	color: #ff6033;
	overflow: hidden;
	transition: all .5s cubic-bezier(0.11, 0.5, 0.97, 0.54);
	width: 0;
}

.logo__link:hover::before {
	width: 100%;
}  

/* end logo animation */

.menu__item {
	padding: 0 15px;
}

.menu__link {
	text-decoration: none;
	color: var(--color-black);
	font: 700 16px var(--font-Raleway);
	text-transform: uppercase;
	position: relative;
}
/*start menu animation */

.menu__link::after {
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	left:50%;
	top: -5px;
	transition: all .3s;
	background: #ff6033;
}

.menu__link:hover::after {   
	width: 100%;
	left: 0;
}

/*end menu animation */

.title {
	font: 900 60px var(--font-Raleway);
}

.title--fresh {
	margin-bottom: 30px;
}

.main__text {
	font: 300 17px var(--font-Raleway);
}

.main__text--fresh {
	margin-bottom: 30px;
}

.main__text--center {
	text-align: center;
}

.link__box {
	width: 200px;
	margin: 0 auto;
	text-transform: uppercase;
	padding: 15px;
	background: transparent;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
	text-align: center;
	user-select: none;
	position: relative;
	z-index: 1;
	border: 5px solid transparent;
	cursor: pointer;
}

/*start link animation */

.link__box::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0;
	left: 0;
	bottom: 50%;
	opacity: 0;
	z-index: -1;
	margin: auto;
	color: transparent;
	background: var(--color-white);
	transition: all .6s;
	border: 5px solid currentColor;
}


.link__box--orange {
	margin: 15px 0;
	background: #ff6033;
}

.link {
	text-decoration: none;
	color: var(--color-white);
	font: 300 20px var(--font-Raleway);
	letter-spacing: 0.5px;
	transition: all .6s;	
}

.link__box:hover::after  {
	opacity: 1;
	height: 100%;
	visibility: visible;
	left: 0;
	bottom: 0;
}

.link__box:hover .link {
	color: var(--color-black);
	font-weight: 700;
}

/*end link animation */

.fresh-life__scroll {
	display: flex;
	justify-content: center;
}

.fresh-life__scroll{
	animation: scroll ease 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	animation-fill-mode:forwards; /*when the spec is finished*/
  }

@keyframes scroll{
	0% {
	  opacity:0;
	  transform:  translate(0px,-25px)  ;
	}
	100% {
	  opacity:1;
	  transform:  translate(0px,0px)  ;
	}
  }
  
.about {
	background: #00c4c4;
	padding-top: 1px;
}

.about__img {
	width: 100%;
}

.about__text {
	margin-top: 110px;
	margin-bottom: 110px;
}

.main__text--white {
	color: var(--color-white);
	margin-bottom: 20px;
}

.title--white {
	color: var(--color-white);
	font-weight: 700;
	font-size: 90px;
	text-align: 27px;
	margin-bottom: 30px;
}

.services {
	background: #70bfff;
	min-height: 790px;
	padding-top: 1px;
}

.services__row {
	margin-top: 100px;
	margin-bottom: 150px;
}

.services__menu {
	margin-top: 80px;

}

.services__image {
	position: relative;
}

.services__title {
	position: absolute;
	top: 37%;
	left: -10%;
}

.services__item {
	background: var(--color-white);
	margin-bottom: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	min-width: 400px;
	max-height: 100px;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
	transition: all .5s;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
}

.services__item:hover .services__link, .services__item:hover .icon, .services__item:hover  {
	color: #ff6033;
	transform: scale(1.1);
	fill: #ff6033;
}

.icon {
	width: 50px;
	height: 50px;
	margin-right: 30px;
	transition: all .2s;
}

.services__icon::before {
	content: '';
	background: #9d9d9d;
	width: 2px;
	height: 100%;
	top: 0;
	left: 73%;
	position: absolute;
}

.services__link {
	text-decoration: none;
	color: var(--color-black);
	font: 700 20px/27px var(--font-Raleway);
	padding: 25px 30px;
	width: 300px;
	transition: all .2s;
}

.gallery {
	background: #ffe92f;
	padding-top: 1px;
	padding-bottom: 1px;
}

.gallery__item {
	overflow: hidden;
	margin-bottom: 30px;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
	cursor: pointer;
}

.item__picture {
	display: block;
	transition: all .5s;
}

.gallery__item:hover .item__picture{
	transform: scale(1.1) rotate(3deg);
}

.main__text--center {
	width: 600px;
	margin-bottom: 45px;
}

.title--black {
	font-size: 90px;
	font-weight: 700;
	margin: 100px auto 30px;
}

.gallery__items {
	margin-bottom: 50px;
}

.link__box--blue {
	background: #5585a2;
	margin-bottom: 120px;
}

.subscribe {
	padding-top: 1px;
	background: url('../images/bg_subscribe.jpg') no-repeat center;
	padding-bottom: 1px;
}

.title--subscribe {
	font-size: 40px;
	margin-bottom: 30px;
	margin-top: 145px;
}

.main__text--subscribe {
	margin-bottom: 30px;
}

.subscribe__field {
	font: 300 15px var(--font-Raleway);
    color: var(--color-black);
    background: #fff;
    border: 1px solid #000;
    padding: 15px;
}

.link__box--green {
	background: #96b92c;
	margin-left: 30px;
}

.subscribe__form {
	margin-bottom: 160px;
}

.blog {
	background: #b07cf7;
	color: var(--color-white);
	padding-top: 1px;
	min-height: 865px;
	padding-bottom: 1px;
}

.title__blog {
	font: 700 90px var(--font-Raleway);
	margin: 0 41.6% 20px;
	margin-top: 100px;
	display: flex;
	justify-content: center;
}

.text__blog {
	font: 300 17px var(--font-Raleway);
	margin: 0 25% 45px;
	justify-content: center;
	text-align: center;
	line-height: 25px;
}

.posts__blog {
	margin-bottom: 50px;
}

.post__blog {
	position: relative;
	transition: all .5s;
	overflow: hidden;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .5);
}

.post__blog:hover {
	transform: scale(1.03);
}

.post__blog:hover img {
	transform: scale(1.1) rotate(3deg);
}

.post__body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background:linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
	cursor: pointer;
}

.post__date {
	position: relative;
	top: 9.6%;
	left: 8.1%;
	background: rgba(38, 38, 38, .5);
	width: 16%;
	border-radius: 5px;
	text-transform: uppercase;
	margin-bottom: 38.7%;
	text-align: center;
}

.post__date time p:first-child {
	font: 700 32px var(--font-Raleway);
}

.post__date time p:last-child {
	font: 900 21px var(--font-Raleway);
}

.post__text {
	margin: 0 10.8% 0 5.4%;
	flex-direction: column;
}

.post__title {
	margin-bottom: 25px;
	font: 700 20px  var(--font-Raleway);
	line-height: 25px;
}

.post__author {
	font: 300 13px var(--font-Raleway);
}

.post__blog img {
	width: 100%;
    min-height: 100%;
    transition: all 1s;
}

.link__blog {
	margin: 0 auto 120px;
}

.link__box--red {
	background: #f72b3b;
}

.contact {
	padding-top: 1px;
	background: url('../images/background-form.jpg') no-repeat fixed center;
	background-size: cover;
	height: 100vh;
	flex: 1 0 auto;   /* sticky-footer */
}

.title__contact {
	font: 700 90px var(--font-Raleway);
	margin: 100px auto 45px;
	color: var(--color-black);
	text-align: center;
	justify-content: center;
	display: flex;
}

.text__contact {
	font: 300 17px var(--font-Raleway);
	margin: 0 auto 40px;
	text-align: center;
	line-height: 25px;
	color: var(--color-black);
	justify-content: center;
	display: flex;
}

.wrapper__contact {
	margin-bottom: 120px;
}

.field {
	font: 300 15px var(--font-Raleway);
    color: var(--color-white);
    background: rgba(0, 196, 196, .5);
    border-left: 5px solid transparent;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    transition: all .3s;
}

.field::placeholder {
	color: var(--color-white);
}

.field::-webkit-input-placeholde  {
	transition: all .3s;
}

.field:focus::-webkit-input-placeholder {
	color: transparent;
}

.field:focus, .field:not(:placeholder-shown) {
	border-left: 5px solid #355b82;
	background: rgba(0, 196, 196, 1);
}

.info__contact {
	color: var(--color-black);
}

.info_title {
	font: 700 17px var(--font-Raleway);
	line-height: 25px;
}

.info_body {
	font: 300 20px var(--font-Raleway);
	line-height: 25px;
}

.info_body a {
	text-decoration: none;
	color: var(--color-black);
	border: 1px solid transparent;
	transition: all .3s;
}

.info_body a:hover {
	border-bottom: 1px solid var(--color-black);
}

.contact_footer {
	background: var(--color-black);
	color: #b9b9b9;
	padding: 30px 0;
	line-height: 25px;
	flex-shrink: 0;   /* sticky-footer */
}

.aright_footer {
	font: 300 16px var(--font-Raleway);
}

.logo_footer {
	font: 400 25px var(--font-Pacifico);
	transition: all .3s;
}

.logo_footer a {
	text-decoration: none;
	color: #b9b9b9;

}

.made_footer {
	font: 300 15px var(--font-Raleway);
}

.made_footer i {
	font-weight: 700;
	color: #ff2b58;
}

.footer__row {
	align-items: center;
}