@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?i8bxjf');
  src:  url('fonts/icomoon.eot?i8bxjf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?i8bxjf') format('truetype'),
    url('fonts/icomoon.woff?i8bxjf') format('woff'),
    url('fonts/icomoon.svg?i8bxjf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scroll:before {
  content: "\e904";
}
.icon-bulba:before {
  content: "\e900";
}
.icon-morkva:before {
  content: "\e901";
}
.icon-planet:before {
  content: "\e902";
}
.icon-shop:before {
  content: "\e903";
}
